* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

@font-face {
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500&display=swap");
    font-family: 'Inter', sans-serif;

}

@font-face {
    font-family: system-ui, sans-serif;
    font-style: normal;
}

body {
    color: black;
    /*background-color: white;*/
    /*background: -webkit-linear-gradient(271deg, #ce9586,#e6cac3,#f7edeb);*/
    /*background: linear-gradient(229deg, #ce9586, #e6cac3, #f7edeb);*/
    /*background: linear-gradient(194deg, #a53d22, #ae862f, #c3b19e);*/
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.image {
    align-self: flex-end;
    width: 300px;
}

.hero {
    background: url('../images/main.jpg');
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
}

nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: none;
    color: #555;
}

nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
}

main {
    padding: 1rem;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.gallery-item img {
    margin-bottom: 15px;
}

.carousel {
    position: relative;
    width: 40%; /* Ограничиваем ширину карусели до 60% */
    margin: 25px auto; /* Выравниваем карусель по центру */
    overflow: hidden; /* Скрываем лишние элементы */
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    min-width: 100%; /* Каждый слайд будет занимать 100% от ширины карусели */
    height: 400px; /* Устанавливаем фиксированную высоту для слайдов */
    overflow: hidden; /* Скрываем части изображений, выходящие за пределы */
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезаем изображения, чтобы они заполнили слайд */
}

.carousel-item:first-child {
    opacity: 1; /* Делаем первый слайд видимым */
}

.order {
    display: flex;
    flex-direction: column;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1) rotate(0deg);
    }
    25% {
        transform: translateY(-140px) scale(1.02) rotate(-1deg);
    }
    50% {
        transform: translateY(-380px) scale(1.03) rotate(1deg);
    }
    75% {
        transform: translateY(-340px) scale(1.02) rotate(-1deg);
    }
    100% {
        transform: translateY(0) scale(1) rotate(0deg);
    }
}

#order .image {
    display: flex;
    justify-content: center;
    animation: floatUp 8s ease-in-out infinite;
    transition: transform 0.3s ease-in-out;
}




/* Chrome 10-25, Safari 5.1-6 */                          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



